body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  overflow-x: hidden;
}
h3.feature__title1{
  color: white;
   margin-left: 50%;
   font-size: 25px;
       font-weight: 300;
       position: relative;
       top: 140px;
       font-size: 3rem;
       font-weight: bolder;
   
}
h5.feature__sub__title1{
  color: white;
  margin-left: 50%;
  display: flex;
  flex-wrap: wrap-reverse;
  padding-top: 10px;
   font-size: 15px;
   font-weight: 300;
   position: relative;
   top: 140px;
   font-size: 2rem;
   

}
h4{
  color: white;
}
h6{
  color:blue;
}
#r{
  margin-left:250px;
  margin-top: 30px;
  margin-bottom: 10px;
}
p{
  padding-top: 10px;
  text-decoration: underline;
  color: lightgray;
}
#languagesSelect{
  width: 10%;
  padding: 0.5rem 1rem;
  padding-left: 33px;
  background-color: transparent;
  color: white;
  margin-left: 147px;
  font-feature-settings:"smcp";
}
option{
  background-color: black;
  color: white;
}
.footer__row__4{
  margin-left: 145px;
 text-decoration: none;
}
#gll{
  position: absolute;
 margin-left: 12%;
  margin-top: 8.5px;
  color: white;

}
#glob{
  position: absolute;
  margin-left: 80%;
   margin-top: 2px;
   color: white;

}
i{
margin-right: 5%;



}
.p{
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  margin-top: 10%;
  color: lightgray;
  cursor: pointer;
  margin-left: -80px;
}
.A{
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  margin-top: 10%;
  padding-bottom: 10px;
  color:lightgray;
  cursor: pointer;
  margin-left: -99px;
}
.B{
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;

  color:lightgray;
 padding-bottom: 10px;
  cursor: pointer;

}

/* .r{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  border-radius: 0;
  border: 0;
  box-sizing: content-box;
  color: inherit;
  cursor: default;
  display: inline;
  font: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: blue;
  cursor: pointer;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  font-style: normal;
  list-style-type: none;
  font-size: 0.875rem;
  font-weight: 400;
} */


@media (min-width: 768px) {

 
}
@media (min-width: 1024px) {
}

@media (min-width: 1254px) {
}